<%- include("../partials/header") %>


<div class="container" style="min-height: 80vh;">
<div class="card"  style="width: 21.5em;margin:3rem auto; margin-top: 8rem;">
	<div class="card-body">
	  <h1 class="card-title text-center" style="margin-bottom:3rem" >create a new comment on <%=audit.title%></h1>
	  <p class="card-text"><a href="/audit">back to audit</a></p>
<form action="/audit/<%=audit._id%>/comments" method="POST">
	<input type="text" placeholder="text" style="margin-bottom: 3rem; margin-left: 3rem;"name="comment[text]">
   <%/*<input type="text" placeholder="author"style="margin-bottom: 3rem; margin-left: 3rem;" name="comment[author]">*/%>
	<button class="btn btn-primary"  style="margin-top: 1rem; margin-left: 6.5rem;">submit</button>
</form>
</div>
</div>
</div>
<%- include("../partials/footer") %>


